PORT=5000
MONGODB_URI=mongodb+srv://muhammad2372002_db_user:TaskFlowPass2026@cluster0.pvwgy9v.mongodb.net/taskflow?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkey_taskflow_2026
NODE_ENV=development